/* set the font for the all page */
/* monospace FTW */

header{
	background-color: #121212;
	color: #FCFCFC;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px black;
}

body{
	background-color: #080808;
	color: #FCFCFC;
	font-family: "Consolas";
	margin-left: 5%;
	margin-right: 5%;
}

/* h1 and h2 are centered */
h1{
	color: #CD8C95;
	text-align: center;
	background-color: #121212;
	text-shadow: 0px 5px 10px black;
	font-variant: small-caps;
}

h2{
	color: #EEA2AD;
	text-align: center;
	text-shadow: 0px 5px 5px black;
	display: none;
}

h3{
	color: #FFFFFF;
}


nav{
	text-align: center;
}

li.sommaire{
	background-color: #121212;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0px 5px 10px black;
	display: inline;
}

a{
	color: #8B5F65;
}

.sommaire a{
	text-decoration: none;
}

article{
	margin-bottom: 20px;
	background-color: #121212;
	border: transparent;
	border-radius: 5px;
	padding: 10px 30px 30px 30px;
	box-shadow: 0px 5px 10px black;
}

em{
	color: #FFB6C1;
}

.sommaire{
	color: #CD8C95;
}

.sommaire a{
	color: #CD8C95;
}

/* pictures are centered and minimized */
img{
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 5px 10px black;
}

/* except for the logo */
#logo{
	height:100px;
	margin-left: 0;
	border: solid 5px RGB(229,211,1);
}

/* pretty grey, uh ? */
.foot{
	text-align: center;
	color: grey;
	font-style: italic;
}

#pixabay{
	height: 500px;
	border-radius: 250px;
}